body {
	background-color: rgb(69, 128, 255);
}

.MainFrame {
	position: absolute;
	top: 150px;
	left: 38.50%;
	border: none;
	border-radius: 10px;
	height: 200px;
	width: 460px;
	background-color: rgb(13, 90, 255);
}

.FrameQuestion {
	position: relative;
	left: -1px;
	min-height: 55px;
	width: 462px;
	background-color: rgb(199, 199, 253);
	border-radius:6px;
	box-shadow: 0px 0px 10px rgb(0, 36, 114);
	transition-duration: 0.5s;
}
.FrameQuestion:hover {
	transition-duration: 0.5s;
	box-shadow: -0px -0px 20px rgb(0, 255, 179);
	background-image: linear-gradient(to right , rgb(68, 218, 168), rgb(0, 255, 55));
}

.TheQuestion {
	font-size: 40px;
	padding-left: 10px;
	word-spacing: 4px;
}

.FrameAnswers {
	height: 450px;
	width: 400px;
	position: absolute;
	background-color: rgb(158, 189, 255);
	left: 40%;
	top:380px;
	border-radius:50px;
	box-shadow: 0px 0px 20px rgb(68, 183, 218);
}

.Answer {
	position: relative;
	top: 30px;
	left: 34%;
	font-size: 55px;
	height: 65px;
	min-width: 150px;
	background-color: rgb(13, 90, 255);
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.Answer:hover {
	transition-duration: 0.3s;
	box-shadow: 7px 5px 10px rgb(49, 49, 49);
}

.Answer:active {
	transition-duration: 0s;
	background-color: rgb(13, 30, 255);
}

.CorrectAnswer {
	display: block;
	height: 200px;
	width: 415px;
	background-image: linear-gradient(to right , rgb(68, 218, 168), rgb(0, 255, 55));
	position: absolute;
	top: 410px;
	left:39.60%;
	border-radius: 5px;
	box-shadow: -0px -0px 20px rgb(0, 255, 179);
}

ul {
list-style-type: none;
padding: 0px;
margin: 0px;
}

li .Answer {
	width: inherit;
}

.NumberOfQuestion {
	margin: 10px 0px 0px 418px;
	width: 35px;
	text-align: center;
}

.CorrectAnswerButton {
	width: 100%;
	height: 80px;
	position: absolute;
	top: 55%;
	background-color: rgb(0, 255, 179);
	border: none;
	border-radius: 9px;
	left: 0px;
	cursor: pointer;
	transition-duration: 0.5s;
	font-size: 150%;
}

.CorrectAnswerButton:hover {
	box-shadow: -0px -0px 20px rgb(0, 255, 179);
	background-color: rgb(9, 255, 0);
	font-size: 200%;
}

.WrongAnswer {
	display: block;
	height: 200px;
	width: 415px;
	background-image: linear-gradient(to right , rgb(218, 68, 68), rgb(255, 0, 0));
	position: absolute;
	top: 410px;
	left:39.60%;
	border-radius: 5px;
	box-shadow: -0px -0px 20px rgb(255, 0, 0);
}

.WrongAnswerButton {
	width: 100%;
	height: 80px;
	position: absolute;
	top: 55%;
	background-color: rgb(204, 0, 0);
	border: none;
	border-radius: 9px;
	left: 0px;
	cursor: pointer;
	transition-duration: 0.5s;
	font-size: 150%;
}

.WrongAnswerButton:hover {
	box-shadow: -0px -0px 20px rgb(255, 0, 0);
	background-color: rgb(255, 0, 0);
	font-size: 200%;
}

.successOrFailure {
	text-align: center;
	font-size: 35px;
}

.MsgFinish {
	position: relative;
	top: -15%;
	left: 14%;
	font-size: 20px;
}

@media only screen and (max-width: 800px) {
	.MainFrame {
		left: 1%;
	}

	.FrameAnswers {
		left: 8%;
	}

	.CorrectAnswer {
		left:6.50%;
	}

	.WrongAnswer {
		left:6.50%;
	}

	.Answer {
		font-size: 45px;
	}
  }
